body {
	font-weight: bold;
}

li {
	list-style-type: none;
}

.sum {
	font-size: 30pt;
	color: #33DB9E;
}

#info-bar {
	opacity: 0;
	width: 0;
	height: 0;
	left: 50%;
	overflow: hidden;
	position: absolute;
	bottom: 200px;
	margin-left: 10px;
	border-radius:50%;
	background-color: #7e7e7e;
	transition: all 0.4s ease-in-out;
}

#button:hover #info-bar {
	width: 130px;
	opacity: 1;
	height: 130px;
	bottom: 270px;
	margin-left: -50px;
}

#control-ring-container li {
	border-radius: 50%;
	position: absolute;
	height: 35px;
	width: 35px;
	background-color: #1C449B;
	opacity: 1;
	left: 50%;
	bottom: 200px;
	opacity: 0;
	transition: all 0.4s ease-in-out;
}

#button:hover #control-ring-container li {
	opacity: 1;
}

#button:hover .mask {
	margin-left: -60px;
	bottom: 240px;
}

#button:hover .history {
	margin-left: -75px;
	bottom: 190px;
}

#button:hover .message {
	margin-left: -55px;
	bottom: 150px;
}

#button:hover .setting {
	margin-left: -15px;
	bottom: 125px;
}

#button:hover .sign {
	margin-left: 30px;
	bottom: 140px;
}

.button {
	background-color: #1C449B;
}

.unread {
	text-align: center;
	position: absolute;
	display: none;
	color: white;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	left: 19px;
	top: -10px;
	background-color: red;
}

.apb {
	position: fixed;
	width: 35px;
	height: 35px;
	background: url("./atplus_white.png") no-repeat center;
	background-color: #999fd3;
	left: 50%;
	bottom: 200px;
	border-radius: 50%;
	transition: all 0.4s ease-in-out;
}

#button:hover .apb {
	width: 80px;
	height: 80px;
	bottom: 180px;
	background: url("./atplus_green.png") no-repeat center;
	background-color: #303f9f;
	margin-left: -20px;
}

#button:hover {
	width: 450px;
	height: 450px;;
}

.text {
	position: absolute;
	top:20%;
	left: 33%;
	color: #288B88;
}

#disable {
    background-color: #7E7E7E;
    cursor: default;
}

#enable {
    background-color: #192E89;
    cursor: pointer;
}