button {
    font-weight: bold;
    text-align: center;
    border:none;
    outline:none;
}
#at-plus-container {
    position:absolute;
    left: 500px;
    border-radius:50%;
    width:300px;
    height:300px;
}
#bottom-positioner {
    position:fixed;
    bottom:30%;
    left:50%;
    border-radius:50%;
    width:30px;
    height:30px;
    background:#303f9f url(assets/images/atplus_white.png) no-repeat center;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -ms-transition:.5s;
    -o-transition:.5s;
    transition:.5s;
}

#bottom-positioner:hover {
    background:#303f9f url(assets/images/atplus_green.png) no-repeat center;
    background-size:90%;
    width:60px;
    height:60px;
}

#button {
    width:0;
    height:0;
    position:absolute;
    bottom:20px;
    right:20px;
    opacity:0;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -ms-transition:.5s;
    -o-transition:.5s;
    transition:.5s;
}

#bottom-positioner:hover #button {
    width:200px;
    height:200px;
    bottom:-70px;
    right:-70px;
    opacity:1.0;
}

#info-bar {
    width:65%;
    height:65%;
    border-radius:50%;
    position:absolute;
    left:20%;
    bottom:70%;
    background-color:#303f9f;
    overflow:hidden;
    font-size:32px;
    color:#079E6E;
}

#apb {
    background-color: transparent;
}

#bottom-positioner:hover #apb {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 70px;
    top: 70px;
    z-index: 1;
}
.button {
    width:18%;
    height:18%;
    border-radius:50%;
    position:absolute;
    color:#079E6E;
    font-size:24px;
    line-height:24px;
    text-align:center;
    background-color:#303f9f;
}

.mask {
    bottom:62%;
    right:72%;
}

.history {
    bottom:40%;
    right:80%;
}

.message {
bottom:19%;
right:69%;
}

.setting {
    bottom:7%;
    right:47%;
}

.sign {
    bottom:11%;
    right:23%;
}

.unread {
    background-color:red;
    color:#FFF;
    font-size:13px;
    width:51%;
    height:51%;
    border-radius:50%;
    position:absolute;
    left:22px;
    top:-6px;
    text-align:center;
    opacity:0;
    line-height:16px;
}

.opacity {
    opacity:1;
}

.grey {
    background-color:grey !important;
}