* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	font-weight: bold;
}

ul {
	list-style-type: none;
}

#at-plus-container {
	position: fixed;
	bottom: 100px;
	left: 50%;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

#bottom-positioner {
    position: absolute;
    top: 0;
    left: 0;
}

/*======================   @图标   ====================*/

.apb {
	position: absolute;
    top: 0;
    left: 0;
	position: absolute;
	border-radius:50%;
	height: 30px;
	width: 30px;
	background-color: rgb(142, 142, 142);
}

.icon {
	width: 100%;
    height: 100%;
    background-image: url(../assets/images/atplus_white.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: 20px;
            background-size: 20px;
}

/*======================顶部状态信息====================*/

#info-bar {
	position: absolute;
	height: 30px;
	width: 30px;
	top: 0;
	left: 0;
	border-radius:50%;
	background-color: rgba(48, 63, 159, 1);
	opacity: 0;
	overflow: hidden;
	transition:all 0.5s linear 0s;
}

#info-bar li img,
#info-bar li span {
    vertical-align: middle;
    display: inline-block;
}

.info {
	position: relative;

    width: 130px;
    height: 130px;
}

#info-bar li {
	display: none;
}

.sum {
	position: absolute;
	top: 40px;
	left: 40px;
	font-size: 2em;
	color: #0AF931;
}

.order {
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 1.2em;
	color: #0AF931;
}

/*======================control-ring-container====================*/

#control-ring-container {
	opacity:0;
}

#control-ring li {
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 30px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    background-color: rgba(48, 63, 159, 1);
}

#control-ring li:hover {
	background-color: rgba(0, 12, 87, 1);
}

.num {
	position: absolute;
	top:4px;
	left:8px;
	font-size: 1.2em;
	color: #0AF931;
}

.unread {
    font-size: 0.8em;
	text-align: center;
    position: absolute;

    top: -5px;
    right: -7px;

    width: 17px;
	height: 17px;

    color: white;
    border-radius: 50%;
    background-color: red;
}

#control-ring li span {
    display: none;
}

.visible {
    display: block !important;
}

/*===========================悬浮状态样式=========================*/

#at-plus-container:hover {
    bottom: 0;
   	left: calc(50% - 100px);

    width: 200px;
    height: 300px;

    -webkit-transition: all .8s;
         -o-transition: all .8s;
            transition: all .8s;
}

#at-plus-container:hover #bottom-positioner {
    top: 170px;
    left: 100px;

    -webkit-transition: all .8s;
         -o-transition: all .8s;
            transition: all .8s;
}

#at-plus-container:hover .apb {
	top: -10px;
    left: -10px;
	width: 50px;
    height: 50px;

    -webkit-transition: all .8s;
         -o-transition: all .8s;
            transition: all .8s;
	background-color: rgba(48, 63, 159, 1);
}

#at-plus-container:hover #control-ring-container {
	opacity:1;
}

#at-plus-container:hover #info-bar {
	height: 120px;
	width: 120px;
	top: -140px;
	left: -50px;
	opacity: 1;

	-webkit-transition: all .8s;
         -o-transition: all .8s;
            transition: all .8s;
}

#at-plus-container:hover .mask {
	left: -60px;
	top: -20px;

	-webkit-transition: all .8s;
         -o-transition: all .8s;
            transition: all .8s;
}

#at-plus-container:hover .history {
	left: -70px;
	top: 15px;

	-webkit-transition: all .8s;
         -o-transition: all .8s;
            transition: all .8s;
}

#at-plus-container:hover .message {
	left: -50px;
	top: 45px;

	-webkit-transition: all .8s;
         -o-transition: all .8s;
            transition: all .8s;
}

#at-plus-container:hover .setting {
	left: -15px;
	top: 65px;

	-webkit-transition: all .8s;
         -o-transition: all .8s;
            transition: all .8s;
}

#at-plus-container:hover .sign {
	left: 25px;
	top: 60px;

	-webkit-transition: all .8s;
         -o-transition: all .8s;
            transition: all .8s;
}

#at-plus-container:hover .icon {
    -webkit-transition: all .8s;
         -o-transition: all .8s;
            transition: all .8s;

    background-image: url(../assets/images/atplus_green.png);
    -webkit-background-size: 40px;
            background-size: 40px;
}

/*====================================*/
.disabled {
	background-color: rgb(142, 142, 142) !important;
	cursor: auto;
}

.executeInfo {
	text-align: center;
}