body {
	font-family: Arial, Helvetica, sans-serif;
}

#at-plus-container {
	position: fixed;
	bottom: 100px;
	left: 750px;
}

#test {
	width: 40px;
	height: 40px;
	z-index: 2000;
	position: absolute;
}

#under {
	z-index: -1;
	position: absolute;
}

#test:hover {
	z-index: -1;
	transform:scale(2.5,2.5);
}

li {
	list-style: none;
}

.apb {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: gray;
	z-index: -1;
	transform: scale(1.1, 1.1);
	transition: 0.5s 1s;
}

#white {
	position: absolute;
	top: 10px;
	left: 6px;
	opacity: 1;
	transition: 0.3s;
}

#green {
	position: absolute;
	top: -5px;
	left: -13px;
	opacity: 0;
	transform: scale(0.5, 0.5);
	transition: 1s;
}

#info-bar {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	position: absolute;
	top: -32px;
	left: -48px;
	transform: scale(0.3, 0.3);
	background-color: gray;
	opacity: 0;
	transition: 1s;
}

#info-bar li {
	position: absolute;
}

#info-bar img {
	float: left;
	margin: -2px 2px 0 0;
}

.TextNode {
	position: absolute;
	top: 6px;
	left: 11px;
	color: #00FF99;
	font-weight: bold;
	font-size: 25px;
}

#control-ring-container li {
	width: 42px;
	height: 42px;
	left: -1px;
	top: 17px;
	opacity: 0;
	background-color: gray;
	border-radius: 50%;
	position: absolute;
	transform: scale(0.8, 0.8);
	transition: 1s;
}

#at-plus-container:hover #info-bar {
	transform: scale(1, 1);
	opacity: 1;
	top: -144px;
	left: -44px;
	z-index: 2000;
}

#at-plus-container:hover .mask {
	left: -66px;
	top: -15px;
	z-index: 2000;
	opacity: 1;
}

#at-plus-container:hover .history {
	left: -72px;
	top: 27px;
	z-index: 2000;
	opacity: 1;
}


#at-plus-container:hover .message {
	left: -58px;
	top: 68px;
	z-index: 2000;
	opacity: 1;
}


#at-plus-container:hover .setting {
	left: -12px;
	top: 84px;
	z-index: 2000;
	opacity: 1;
}


#at-plus-container:hover .sign {
	left: 36px;
	top: 76px;
	z-index: 2000;
	opacity: 1;
}


.unread {
	background-color: rgba(0,0,0,0);
	position: absolute;
	top: -10px;
	left: 22px;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	text-align: center;
	font-weight: bold;
	color: white;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

#at-plus-container:hover #test {
	transform:scale(2.5,2.5);
}

#button:hover .unread {
	background-color: rgba(220,30,30,1);
}


#at-plus-container:hover .apb {
	background-color: blue;
	transform: scale(1.6, 1.6);
	transition: 1s;
}

.user {
	position: absolute;
	top: 20px;
	left: 40px;
	color: white;
	font-weight: bold;
	font-family: Arial;
	font-size: 20px;
}

#at-plus-container:hover #green {
	visibility: visible;
	opacity: 1;
}

#at-plus-container:hover #white {
	visibility: hidden;
	opacity: 0;
}

span.user {
	position: absolute;
	top: 20px;
	left: 10px;
	color: white;
	font-weight: bold;
	font-family: Arial;
	font-size: 40px;
	color: #00FF99;
}